




 .hotels-and-resorts {
  margin: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  .resorts {
    width: 50%;
    border: 1px solid green;
    margin: 10px;
  }
  .restaurants {
    width: 50%;
    border: 1px solid red;
    margin: 10px;
  }
}

@media screen and (max-width: 500px)  {
    .hotels-and-resorts {
        flex-direction: column;
      .resorts{
          width: 100%;
      }
      .restaurants{
        width: 100%;
      }

    }
  }

