:host .forgot-password {
  margin-top: 200px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;

  .forgot-password-inner {
       .email{
        height: 50px;
        width: 400px;
        margin: 30px 0;
    }
  }
}
