<div class="forgot-password">
    <div class="forgot-password-inner">
        <form #resetPassword="ngForm">
            <div class="email-textbox">
                
                <input class="form-container email" type="text" id="name" name="name" [(ngModel)]="email" placeholder="Please enter your email">
            </div>
            <div class="button-container">
                <button class="btn btn-primary btn-lg"> Submit </button>
            </div>
         
        </form>
    </div>
  

    {{email}}
</div>