<div class="login-component">
  <form [formGroup]="loginFrom" (ngSubmit)="submitForm()">
    <div class="textbox-container">
      <input class="userid" formControlName="userid"/>
      <span *ngIf="userid.invalid &&(userid.touched || userid.dirty)"> user id is required</span>
    </div>
    <div class="textbox-container">
      <input class="password" formControlName="password" />
      <span *ngIf="password.invalid &&(password.touched || password.dirty)"> user id is required</span>
    </div>
    <div class="button-container">
      <button class="submit-button" type="submit">Button</button>
    </div>
  </form>



 
</div>


<!-- <app-login-child [userId]="userId">{{userId}}</app-login-child> -->