:host .login-component{

    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    .userid{
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
}